body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;    
}




h1 {
    /* 100% = 16px therefor 90px = 562.5% */
    /* 100%=16px =1em therefore 90px = 5.625em */
    color: #66BFBF;
    font-size: 5.625rem;
    /* line-height: 2; */
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    /* color: #66BFBF; */
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    padding-bottom: 10px;
    

}

h3 { 
     
     color: #11999E; 
     font-family: 'Montserrat', sans-serif;
     
}

p{
    line-height: 2;
}


hr{
    border: dotted #825959 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
/* .subtitle{
    font-weight: normal;
    color: #66BFBF;
    font-size: 2.5rem;
} */

.top-container {
    background-color: #EAF9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;

}

.bottom-cloud {
    position: absolute;
    bottom: 350px;
    left: 350px;
}

.middle-container {
    margin: 45px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    
}


.pro {
    text-decoration: underline;
}


.skill-row{
    
    width: 50%;
    margin: 100px auto;
    
    text-align: left;
}

.image-comp{
    width: 25%;
    float: left;
    margin: 30px
}

.image-brain{
    width: 25%;
    float: right;
    margin: 30px
}

/* .python-desc{
    clear: left;
}

.machine-desc{
    clear: right;
} */


.spot{
    width: 30%;
    margin: auto
    /* text-align: center;
    display: inline-block; */
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px
}

.btn{
    background: #11CDDC;
    background-image: -webkit-linear-gradient(top, #11CDDC, #11999E);
    background-image: -moz-linear-gradient(top, #11CDDC, #11999E);
    background-image: -ms-linear-gradient(top, #11CDDC, #11999E);
    background-image: -o-linear-gradient(top, #11CDDC, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDDC, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .copyright{
     color: #EAF6F6;
     font-size: 0.75rem;
     padding: 10px 0;
 }